* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background: #f9f9f9;
}

header {
    /* shorthand to write unit */
    padding: 16px 0;
}
header .container {
    border-radius: 20px;
    background: #2a2c2e;
    width: 1200px;
    height: 96px;
    margin: 0 auto;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

header .container div {
    color: #ffffff60;
}

header .container div img {
    width: 166px;
    height: auto;
}

header ul {
    list-style: none;
    /* basic flex 4 properties */
    display: flex;
    gap: 32px;
}

nav {
    background: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 80px;
}

nav h2 {
    color: rgb(85, 85, 27);
    font-size: 40px;
    font-weight: 400;
}

nav h2.active {
    color: rgb(224, 11, 11);
}

main {
    background: #2a2c2e;
}

main .container {
    width: 950px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    /* addition flex prop */
    flex-wrap: wrap;
    gap: 24px;
}

main .card {
    height: 500px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

main .card img {
    border-radius: 16px;
    width: 100%;

    object-position: center;
}

main .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200vh;
}
footer {
    background-color: white;
    color: black;
}

footer .container {
    background-color: black;
    width: 1200px;
    height: 96px;
    margin: 0 auto;
}
